body{
   width: 100%;
   height: auto;
}

/* style header */
header {
    background-color: #4ea0ff;
    width: auto;
    height: 125px;
}

.thebooleaner {
    width: 150px;
    position: fixed;
}

/* style main */
.scrittagrigia{
    color: grey;
}

span{
    color: aqua;
}