body{
   width: 100%;
   height: auto;
}

/* style header */
header {
    background-image: url(img/pattern.png) ;
    background-size: auto;
    background-color: #4ea0ff;
    width: auto;
    height: 125px;
}

.thebooleaner {
    width: 150px;
    position: fixed;
}

/* style main */
.scrittagrigia{
    color: grey;
}

span{
    color: aqua;
}

thead{
    background-color: rgb(63, 181, 232);
    color: white;
}

tbody{
    background-color: rgb(177, 229, 249);
    color: black;
}

tfoot{
    background-color: rgb(177, 229, 249);
    color: black;
}

.tbodyvariante{
    background-color: white;
    color: black;
}
/* style footer */
.primafoto {
    margin: 0px;
    background-image: url('img/monitor.jpg');
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: red;
    font-size: 150%;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    width: 240px;
    height: 150px;
  }

  .secondafoto {
    margin: 0px;
    background-image: url('img/graph.jpg');
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: red;
    font-size: 150%;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    width: 240px;
    height: 150px;
  }