body{
    height: 150px;
    padding: 0%;
    border:0% ;
}

/* style header */
header {
    background-color: #4ea0ff ;
    height: 125px;
}
.thebooleaner {
    width: 150px;
}

/* style main */
.scrittagrigia{
    color: grey;

}

span{
    color: aqua;
}